html{
   height: 100vh;
}
body{
    margin: 0;
    min-height: 100%;
    background-color: #242424;
    height: 100%;
}
.logo{
    background-color: grey;
    width: 93%;
    height: 200px;
    float: right;
    
}
.img{
    margin-left: 35%;
    margin-top: 10px;
}
.menu{
    width: 7%;
    height: 1080px;
    float: left;
    background-color: #919191;
}
.content{
    width: 1570px;
    height: 864px;
    float: left;
    background-color: #242424;
}
.options{
    margin-top: 25%;
}
.articule{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    height: 28%;
    margin-top: 1%;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.aimg{
    height: 200px;
    width: 200px;
    margin-top: 2%;
    margin-left: 1%;
    float: left;
}
.text{
    order: 1;
    margin-left: 2%;
    font-size:larger;
    height: 90%;
    margin-top: 8px;
    
}
.button{
    order: 2;
    align-self: flex-end;
    cursor: pointer;
    width: 10%;
    height: 10%;
    color: black;
    background-color: white;
    margin-bottom: 4px;
    margin-right: 2px;
}
.button:hover{
    width: 12%;
    height: 13%;
    background-color: #f3ff87;
 
}
.next{
    float: right;
    margin-top: 1%;
    height: 3%;
    cursor: pointer;
}
.img:hover{
    height: 220px;
    width: 520px;
    margin-bottom: 10%;
}
p{
    font-size: x-large;
}
.t{
    font-size:xx-large;
    flex: 0;
}
.gif{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    max-height: 512px
}
.gif img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.goro{
    width: 150px;
    height: 100%;
    float: right;
    margin-right: 1%;
}
.gif img:hover{
    width: fit-content;
}